// Dimensions
$dimension-mobile-s: 320px;
$dimension-mobile-m: 375px;
$dimension-mobile-l: 425px;
$dimension-tablet: 768px;
$dimension-laptop: 1024px;

// Borders
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 32px;

// Gap
$gap-mobile: 16px;
$gap-tablet: 24px;
$gap-laptop: 32px;

// Font Families
$font-family: "Inter", sans-serif;

// Font Size
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xl2: 40px;
$font-size-xl3: 48px;
$font-size-xl4: 56px;
$font-size-xl5: 64px;

// Colors
$color-title: #191D2B;
$color-body: #697896;
$color-label: #96A0B5;
$color-placeholder: #B6BEC9;
$color-line: #D0D5DC;
$color-input-background: #E8EAEE;
$color-off-white: #F6F6F8;

$color-title-light: #F6F6F8;
$color-body-light: rgba(#F6F6F8, 0.8);

$color-primary: #016996;
$color-primary-hover: #01577D;
// $color-primary-dark: #704f63;
// $color-primary-light: #be9c9e;

$color-accent: #C43229;
$color-accent-hover: #AB241B;
$color-background: #111;

// Transition
$transition: 0.3s ease;

@mixin text-header {
  font-family: $font-family;
  font-weight: 700;
  color: $color-title;
  font-feature-settings: "pnum" on, "lnum" on;
}

@mixin text-body {
  font-family: $font-family;
  letter-spacing: 0.0075em;
  color: $color-body;
}

@mixin text-button {
  font-family: $font-family;
  font-size: $font-size-xs;
  // font-weight: 500;
  letter-spacing: 0.0075em;
}

@mixin all-gap {
  gap: $gap-laptop;

  @media (max-width: $dimension-tablet) {
    gap: $gap-tablet;
  }
  @media (max-width: $dimension-mobile-l) {
    gap: $gap-mobile;
  }
}
