@import "@/styles/variables";

.btn {
  @include text-button;

  // border-radius: $border-radius-sm;
  padding: 16px 40px;
  transition: 0.2s ease-in-out;
  border: 2px solid;
  font-weight: 700;
  text-transform: capitalize;

  &--primary {
    background-color: $color-primary;
    color: $color-title-light;
    border-color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
      border-color: $color-primary-hover;
    }
  }

  &--secondary {
    background-color: $color-accent;
    color: $color-title-light;
    border-color: $color-accent;

    &:hover {
      background-color: $color-accent-hover;
      border-color: $color-accent-hover;
    }
  }

  &--dark {
    background-color: $color-background;
    color: $color-title-light;
    border-color: $color-background;

    &:hover {
      background-color: #242424;
      border-color: #242424;
    }
  }

  &--outline {
    color: $color-title-light;
    background-color: transparent;
    border-color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
      border-color: $color-primary-hover;
    }
  }

  &--transparent {
    background-color: transparent;
    border-color: transparent;
    color: $color-title-light;

    &:hover {
      background-color: rgba($color: $color-background, $alpha: 0.7);
    }
  }

  &--disabled {
    cursor: not-allowed;
  }
}

.btn--primary.btn--radio {
  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.btn--radio {
  padding: 16px;
}
