@import "@/styles/variables";

.wrapper {
  background-color: white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-background;
    height: 100px;
  }
}

.container {
  position: relative;
  background-image: url("/images/CTA_back.jpg");
  padding: 100px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: $dimension-tablet) {
    padding: 80px 40px;
  }
  @media (max-width: $dimension-mobile-l) {
    padding: 40px 24px;
  }
}
